In [1]:
import pandas as pd
import numpy as np

In [22]:
df1 = pd.read_csv('C:/Users/govindd1/Desktop/Code/VR-Project/ACC_data_from_different_subjects/Subjects/atul/ACC.csv')
df1.head()

   1636420037.000000   1636420037.000000   1636420037.000000.1
0               32.0                32.0                  32.0
1               12.0               -60.0                  12.0
2               13.0               -61.0                  12.0
3               13.0               -60.0                  13.0
4               13.0               -60.0                  12.0

In [23]:

def read_acc_file_into_df(filepath) -> pd.DataFrame:
    return __read_frequency_based_file_into_df(filepath, ['acc_x', 'acc_y', 'acc_z'])


def read_hr_file_into_df(filepath_or_buffer) -> pd.DataFrame:
    return __read_frequency_based_file_into_df(filepath_or_buffer, ['hr'])


def read_eda_file_into_df(filepath_or_buffer) -> pd.DataFrame:
    return __read_frequency_based_file_into_df(filepath_or_buffer, ['eda'])


def read_bvp_file_into_df(filepath_or_buffer) -> pd.DataFrame:
    return __read_frequency_based_file_into_df(filepath_or_buffer, ['bvp'])


class io:
    def is_file_like(obj) -> bool:
        if not (hasattr(obj, "read") or hasattr(obj, "write")):
            return False
        if not hasattr(obj, "__iter__"):
            return False
        return True

def __read_frequency_based_file_into_df(file_path, column_name: list[str]) -> pd.DataFrame:
    if io.is_file_like(file_path):
        file_to_read = file_path
        close_file = False
    elif isinstance(file_path, str):
        file_to_read = open(file_path, 'br')
        close_file = True
    else:
        raise ValueError('Not a Valid Input: %d' % type(file_path))

    initial_pos = file_to_read.tell()
    timestamp = pd.to_datetime(float(str(file_to_read.readline(), 'utf-8').strip().split(',')[0]), unit='s', origin = 'unix')
    frequency = float(str(file_to_read.readline(), 'utf-8').strip().split(',')[0])
    file_to_read.seek(initial_pos)

    data = pd.read_csv(file_to_read, skiprows=2, names=column_name, index_col=False)
    data.index = pd.date_range(start = timestamp, periods=len(data), freq=str(1/frequency*1000) + 'ms', name = 'datatime', tz='UTC')
    data.sort_index(inplace=True)

    if close_file:
        file_to_read.close()
    return data

In [24]:
df = read_acc_file_into_df('C:/Users/govindd1/Desktop/Code/VR-Project/ACC_data_from_different_subjects/Subjects/atul/ACC.csv')
df.to_csv('atul_ACC_converted.csv')

In [25]:
df.head()

                                  acc_x  acc_y  acc_z
datatime
2021-11-09 01:07:17+00:00            12    -60     12
2021-11-09 01:07:17.031250+00:00     13    -61     12
2021-11-09 01:07:17.062500+00:00     13    -60     13
2021-11-09 01:07:17.093750+00:00     13    -60     12
2021-11-09 01:07:17.125000+00:00     12    -60     12

In [30]:
# append EDA BVP and HR features to charan ACC_converted 
bvp_data_set = read_bvp_file_into_df('./Subjects/srinath/BVP.csv')
bvp_data_set.head(20)


hr_dataset = read_hr_file_into_df('./Subjects/srinath/HR.csv')
hr_dataset.head(20)

eda_dataset = read_eda_file_into_df('./Subjects/srinath/EDA.csv')
eda_dataset.head(20)

                                       eda
datatime
2021-11-08 21:22:06+00:00         0.000000
2021-11-08 21:22:06.250000+00:00  0.537932
2021-11-08 21:22:06.500000+00:00  0.664731
2021-11-08 21:22:06.750000+00:00  0.694189
2021-11-08 21:22:07+00:00         0.575342
2021-11-08 21:22:07.250000+00:00  0.544603
2021-11-08 21:22:07.500000+00:00  0.544603
2021-11-08 21:22:07.750000+00:00  0.549726
2021-11-08 21:22:08+00:00         0.548445
2021-11-08 21:22:08.250000+00:00  0.552288
2021-11-08 21:22:08.500000+00:00  0.549726
2021-11-08 21:22:08.750000+00:00  0.548445
2021-11-08 21:22:09+00:00         0.548445
2021-11-08 21:22:09.250000+00:00  0.548445
2021-11-08 21:22:09.500000+00:00  0.551007
2021-11-08 21:22:09.750000+00:00  0.554849
2021-11-08 21:22:10+00:00         0.557411
2021-11-08 21:22:10.250000+00:00  0.558692
2021-11-08 21:22:10.500000+00:00  0.556130
2021-11-08 21:22:10.750000+00:00  0.559973