In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('C:/Users/govindd1/Desktop/Code/VR-Project/ACC_data_from_different_subjects/Subjects/charan/ACC.csv')
df1.head()

   1635351188.000000   1635351188.000000   1635351188.000000.1
0               32.0                32.0                  32.0
1                2.0                 2.0                  56.0
2                1.0                 2.0                  57.0
3                0.0                 3.0                  61.0
4                1.0                 2.0                  64.0

In [7]:

def read_acc_file_into_df(filepath) -> pd.DataFrame:
    return __read_frequency_based_file_into_df(filepath, ['acc_x', 'acc_y', 'acc_z'])


def read_hr_file_into_df(filepath_or_buffer) -> pd.DataFrame:
    return __read_frequency_based_file_into_df(filepath_or_buffer, ['hr'])


def read_eda_file_into_df(filepath_or_buffer) -> pd.DataFrame:
    return __read_frequency_based_file_into_df(filepath_or_buffer, ['eda'])


def read_bvp_file_into_df(filepath_or_buffer) -> pd.DataFrame:
    return __read_frequency_based_file_into_df(filepath_or_buffer, ['bvp'])


class io:
    def is_file_like(obj) -> bool:
        if not (hasattr(obj, "read") or hasattr(obj, "write")):
            return False
        if not hasattr(obj, "__iter__"):
            return False
        return True

def __read_frequency_based_file_into_df(file_path, column_name: list[str]) -> pd.DataFrame:
    if io.is_file_like(file_path):
        file_to_read = file_path
        close_file = False
    elif isinstance(file_path, str):
        file_to_read = open(file_path, 'br')
        close_file = True
    else:
        raise ValueError('Not a Valid Input: %d' % type(file_path))

    initial_pos = file_to_read.tell()
    timestamp = pd.to_datetime(float(str(file_to_read.readline(), 'utf-8').strip().split(',')[0]), unit='s', origin = 'unix')
    frequency = float(str(file_to_read.readline(), 'utf-8').strip().split(',')[0])
    file_to_read.seek(initial_pos)

    data = pd.read_csv(file_to_read, skiprows=2, names=column_name, index_col=False)
    data.index = pd.date_range(start = timestamp, periods=len(data), freq=str(1/frequency*1000) + 'ms', name = 'datatime', tz='utc')
    data.sort_index(inplace=True)

    if close_file:
        file_to_read.close()
    return data

In [8]:
df = read_acc_file_into_df('C:/Users/govindd1/Desktop/Code/VR-Project/ACC_data_from_different_subjects/Subjects/charan/ACC.csv')
df.to_csv('charan_ACC_converted.csv')

In [9]:
df.head()

                                  acc_x  acc_y  acc_z
datatime
2021-10-27 16:13:08+00:00             2      2     56
2021-10-27 16:13:08.031250+00:00      1      2     57
2021-10-27 16:13:08.062500+00:00      0      3     61
2021-10-27 16:13:08.093750+00:00      1      2     64
2021-10-27 16:13:08.125000+00:00      2      2     60

In [10]:
# append EDA BVP and HR features to charan ACC_converted 
bvp_data_set = read_bvp_file_into_df('./Subjects/charan/BVP.csv')
bvp_data_set.head(20)


hr_dataset = read_hr_file_into_df('./Subjects/charan/HR.csv')
hr_dataset.head(20)

eda_dataset = read_eda_file_into_df('./Subjects/charan/EDA.csv')
eda_dataset.head(20)

                                       eda
datatime
2021-10-27 16:13:08+00:00         0.000000
2021-10-27 16:13:08.250000+00:00  0.838918
2021-10-27 16:13:08.500000+00:00  1.186279
2021-10-27 16:13:08.750000+00:00  1.624379
2021-10-27 16:13:09+00:00         2.102213
2021-10-27 16:13:09.250000+00:00  2.590394
2021-10-27 16:13:09.500000+00:00  3.108940
2021-10-27 16:13:09.750000+00:00  3.608053
2021-10-27 16:13:10+00:00         4.103905
2021-10-27 16:13:10.250000+00:00  4.601454
2021-10-27 16:13:10.500000+00:00  5.100141
2021-10-27 16:13:10.750000+00:00  5.599180
2021-10-27 16:13:11+00:00         6.097823
2021-10-27 16:13:11.250000+00:00  6.596914
2021-10-27 16:13:11.500000+00:00  7.095911
2021-10-27 16:13:11.750000+00:00  7.594823
2021-10-27 16:13:12+00:00         7.765930
2021-10-27 16:13:12.250000+00:00  7.755683
2021-10-27 16:13:12.500000+00:00  7.749279
2021-10-27 16:13:12.750000+00:00  7.759526

                                  acc_x  acc_y  acc_z   BVP  HR       eda
datatime
2021-10-27 16:13:08+00:00             2      2     56 -0.00 NaN  0.000000
2021-10-27 16:13:08.031250+00:00      1      2     57 -0.00 NaN       NaN
2021-10-27 16:13:08.062500+00:00      0      3     61 -0.00 NaN       NaN
2021-10-27 16:13:08.093750+00:00      1      2     64 -0.00 NaN       NaN
2021-10-27 16:13:08.125000+00:00      2      2     60 -0.00 NaN       NaN
...                                 ...    ...    ...   ...  ..       ...
2021-10-27 16:13:10.968750+00:00    -13     -3     51 -6.14 NaN       NaN
2021-10-27 16:13:11+00:00           -13     -3     51 -6.81 NaN  6.097823
2021-10-27 16:13:11.031250+00:00     -9     -2     53 -5.75 NaN       NaN
2021-10-27 16:13:11.062500+00:00     -9     -1     55 -4.69 NaN       NaN
2021-10-27 16:13:11.093750+00:00    -10      2     59 -5.47 NaN       NaN

[100 rows x 6 columns]